<div class="container-geral">
    <div class="login-container">
      <div class="content-login">
        <p class="titulo"> Entrar</p>
        <div class="form">
          <input placeholder="E-mail">
          <input placeholder="Senha" type="password">
          <button class="btn-login" routerLink="/home">Entrar</button>
        </div>
        <div class="opcoes-login">
          <a id="link-senha" ref="#" >Esqueci minha senha</a>
        </div>
      </div>
      <div class="content-right">
        <p class="title">Bem-vindo(a)! </p>
        <p class="info">
          Informe seu e-mail e senha para entrar na plataforma.
        </p>
      </div>
    </div>
</div>