<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home" >{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="avatar">
                <p >Oi! Fernanda Santos</p>
                <div class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-globe"></i>
                      <b class="caret"></b>
                      <span class="notification hidden-sm hidden-xs">2</span>
                      <p class="hidden-lg hidden-md">
                          2 Notificações
                          <b class="caret"></b>
                      </p>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a >Você e Paulo editaram UBS LIBERDADE III...</a></li>
                    <li><a >Atualização de dados do perfil...</a></li>
                  </ul>
                </div>
                <a href="/user"><img src="assets\img\user.png" alt="Avatar"></a>
              </li>
              <li>
                <a href="#">Sair</a>
                </li>
              <li class="separator hidden-lg hidden-md"></li>
            </ul>
        </div>
    </div>
</nav>
